*{

    margin: 0;

    padding: 0;

    font-family: sans-serif;

}

 

div{

    background-color: #d1d1d1;

    padding: 20px;

    h1{

        font-size: 46px;

        .punto{

            color: rgb(255, 145, 0);

        }

    }

}

